@charset "utf-8";
/* CSS Document */
/* base */
*{margin:0;padding:0}
ul,ol{list-style:none}
a{color:#333;text-decoration:none}
a:hover, a:active, a:focus{color:#333;}

ul.dropdownmenu{width:700; height:50px;float:left;
             border: 1px solid blue}
ul.dropdownmenu li.menu{float:left;position:relative; margin-left:50px;}
ul.dropdownmenu li.m1{margin-left:0px;}
ul.dropdownmenu li h3{position:relative; height:16px;}


ul.dropdownmenu li ul{position:absolute;top:17px; left:0; padding:15px 0 5px 5px; width:400px; display: none}
ul.dropdownmenu li.m6 ul{left:-55px; }

ul.dropdownmenu li ul li{ float:left; padding-right:15px;}
ul.dropdownmenu li.menu ul li a{ color:#999; font-weight:bold;}
ul.dropdownmenu li.menu ul li a:hover{color:#090;}



