.back_img img{
    width: 100%;
    position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:500px;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
    overflow: hidden;
}
.back_img{
    overflow: hidden;
}
article{
    width: 1400px;
    margin: 0 auto;
    clear: both;
}
article .book_text{
    width: 60%;
    position: absolute;
    right: 50px;
    top: 30%;
}
article .book_text dl{
    text-align: right;
}
article .book_text dt{
    font-size: 25px;
    color: #fff
}
article .book_text dd{
    font-size: 18px;
    color:#fff
}
footer{
    bottom: 0;
    position: absolute;
    background: #666;
}
footer div{
    margin-top: 10px;
    right: 15px;
}

 /* 일반 pc */
@media screen and (max-width:1280px) {
    article{
        width: auto;
        margin: 0;
    }

}

/* 테블릿 */
@media screen and (max-width:1024px) {
    article{
        width: 80%;
        margin-left: 20%;
        transition: all 1s;
    }
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    article{
        width: auto;
        margin-left: 0;
        transition: all 1s;
    }
    article .book_text{
        bottom: 30px;
        right: 0;
        width: auto;
    }
}

/* 모바일 */
@media screen and (max-width:640px) {
    header{
        height: 60px;
    }
    .back_img img{
        margin-top: 30px;
    }
    article .book_text{
        margin: 15px;
    }
    article .book_text dt{
        font-size: 25px;
        margin: 10px 0;
        color: #333;
    }
    article .book_text dd{
        font-size: 14px;
        color: #666;
    }
    article .book_text{
        position: relative;
        width: 92%;
        top: 0;
        left: 0;
        background: none;
        margin: 0 4%;
    }
    #wrap{
        background: none;
    }
}   