/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
body {font-family:Tahoma, Dotum; font-size:14px; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {color:#333;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}

@font-face{
 font-family:MiltonianTattoo-Regular;
 src:url('../font/MiltonianTattoo-Regular.eot');
 src: url('../font/MiltonianTattoo-Regular.woff') format('woff'),
       url('../font/MiltonianTattoo-Regular.ttf') format('truetype');
}
@font-face{
 font-family:Tahoma;
 src:url('../font/Tahoma.eot');
 src: url('../font/Tahoma.woff') format('woff'),
       url('../font/Tahoma.ttf') format('truetype');
}
.tattoo{
    font-family: MiltonianTattoo-Regular;
}
header{
    width: 100%;
    background: #000;
    transition:all 0.5s; animation:scale 1s 1;
}
header .header_inner{
    width: 1400px;
    height: 80px;
    margin: 0 auto;
}
header .header_inner .logo{
    float: left;
    width: 30%;
}
header .header_inner .logo h1{
    font-family: MiltonianTattoo-Regular;
    font-size: 50px;
    letter-spacing: -4px;
    color: #7f1d94;
    text-align: center;
    margin-top: 10px;
}
header .header_inner .logo h1 a{
    color: #7f1d94
}
header .header_inner nav{
    float: right;
    width: 70%;
    margin-top: 25px;
}
header .header_inner ul{
    width: 100%;
}
header .header_inner nav li{
    float: left;
    width: 20%;
    font-size: 30px;
    color: #fff;  
}
header .header_inner nav li a{
    color: #fff;
}
header .header_inner nav li a:hover{
    color: orange;
    transform: rotateX(360deg);
    transition: all 0.5s;
    overflow: hidden;
}
header .header_inner .menuOpen{ 
    position:absolute; 
    right:20px; 
    top:25px;
    display:none;
}
article{
    overflow: hidden;
}
/*footer*/
footer{
    width: 100%;
    background: #666;
}
footer div{
    width: 1400px;
    text-align: right;
    color: #000;
    right: 15px;
    font-size: 15px;
}














/* 일반 pc */
@media screen and (max-width:1280px) {
    #wrap{
        width: auto;
        background-image: none;
        background: #000;
    }
    header{
        width: 100%;
        margin: 0;
    }
    header .header_inner{
        width: auto;
    }
    footer div{
        width: 100%;
        right: 15px;
    }

}

/* 테블릿 */
@media screen and (max-width:1024px) {
    #wrap{
        background: #000;
    }
    header{
        position: fixed;
        width: 20%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s;
    }
    header .header_inner{
        width: auto;
    }
    header .header_inner .logo{
        float: none;
        width: auto;
        
    }
    header .header_inner .logo h1{
        width: 98%;
        margin: 30px 1% 75px 1%;
        font-size: 37px;
        text-align: center;
    }
    header .header_inner nav{
        float: none;
        position: relative;
        width: 90%;
        height: 200px;
        margin-left: 5%;
        transition: all 1s;
    }
    header .header_inner nav li{
        float: none;
        width: 95%;
        margin: 0 2.5% 30px 2.5%;
        text-align: center;
    }
  .grid-sizer,.grid-item {width: 25%;}

}
/* 소형 테블릿 */
@media screen and (max-width:768px) {
    header{
        position: inherit;
        width: 100%;
        height: 60px;
        transition: all 0.5s;
    }
    header .header_inner{
        width: auto;
        height: 30px;
    }
    header .header_inner .logo{
        float: left;
        width: 30%;
        margin: 15px 0 0 15px;
        height: 30px;
    }
    header .header_inner .logo h1{
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    header .header_inner nav{
        float: right;
        width: 67%;
        margin: 0;
        margin-top: 15px;
        transition: all 1s;
        height: 30px;
    }
    header .header_inner nav li{
        float: left;
        width: auto;
        text-align: center;
        font-size: 18px;
        margin-right: 5%;
    } 
    .grid-sizer,.grid-item {width: 33.33%;}
}

/* 모바일 */
@media screen and (max-width:640px) {
    header .header_inner .logo{margin: 15px 0 0 15px}
    .grid-sizer,.grid-item {
        width: 50%;
    }
    header{
        height: 30px;transition:none; animation:none;
    }
    header .header_inner .menuOpen{ 
        display:block; 
        color: #fff
    }
    header .header_inner .logo h1{
        margin: 0;
        font-size: 20px;
    }
    header .header_inner .logo h1 a{
        display: block;
        font-size: 20px;
    }
    header .header_inner nav{
        width:100%; 
        background:#fff; 
        display:none;
        position:absolute; 
        top:60px; 
        left:0; 
        z-index: 80;
        transition:none;
        height: auto;
        
    }
   header .header_inner nav li{ 
        float:none; 
        margin:0; 
        text-align:center;
        position: relative; 
        z-index: 50;
       border-bottom: 1px solid #ccc;
      
    }
    header .header_inner nav li a{display: block; padding: 10px 0; transition: all .5s; color: #000}
    header .header_inner nav li a:hover{color: #fff; background:#d091fc }
    header .header_inner .fa-bars{
        font-size: 30px;
        position: absolute;
        top: -10px;
        right: 0;
    }
    footer{
        bottom: 0;
    }
}   
/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap { min-width:320px; }
}