/* 서브페이지 공통 영역 left/비쥬얼*/

.ytimg{overflow: hidden; position: relative; left: 50%; margin-left: -1200px; margin-bottom: 50px;}





.container{
	width: 1100px; 
	margin: 0 auto;
    overflow: hidden;
    text-align: center;
	/*margin-top: 50px;*/
}
.container h3{
	font-size: 40px;
	margin-bottom: 100px;
}
.container .bob{
	width: 20px;
	border-top: solid 1px;
}


.topbtn #toTop{display:block;width:58px;height:37px;
      position:fixed;bottom:35px;left:50%;margin-left:0;overflow:hidden}